---
import { Debug } from 'astro:components';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Blog page"
const allPosts = await Astro.glob('../pages/posts/*.md')
---
<BaseLayout pageTitle={pageTitle}>
<h2>Welcome to the blog</h2>
<p>Hello world from blog page</p>
<ul>
	{allPosts.map(
		(post) => <BlogPost url={post.url} title={post.frontmatter.title}/>
	)}
</ul>
<!-- <Debug {allPosts}> -->
</BaseLayout>
